body {
	background:#e0e0e0;
}

div.wrapper {
	margin: 0 auto 0 auto;
	width:90%;
	position: relative;
	background:#ffffff;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

div.aboutwrapper {
	margin: 0 auto 0 auto;
	width:90%;
	position: relative;
	background:#ffffff;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

div.pronwrapper {
	margin: 0 auto 0 auto;
	width:90%;
	position: relative;
	background:#ffffff;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

div.nounwrapper {
	margin: 0 auto 0 auto;
	width:90%;
	position: relative;
	background:#ffffff;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

div.verbwrapper {
	margin: 200 auto 0 auto;
	width:90%;
	position: relative;
	background:#ffffff;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	
}

#header {
	color: #FFFFFF;
	position: relative;
	height: 155px;
	border-top: solid 1px #F7F1E8;
	background: #ffffff;  
	border-top-left-radius: 10px;
	border-top-right-radius: 10px; 
}


div.content {
	position:absolute;
	top:0;
	width:700px;
	height:360px;
	background:#ffffff;
	margin-left:4%;
	margin-right:4%;
    	overflow-y: auto;
	font-size:0.85em;
}


div.contentfull {
	position:relative;
	top:70px;
	max-width:1080px;
	height:360px;
	background:#ffffff;
	margin-left:4%;
	margin-bottom:4%;
    	overflow-y: auto;
	font-size:0.85em;
}

div.contentfull p {
	margin-right:8%;
}


div.contentwide {
	position:absolute;
	top:0;
	max-width:1050px;
	height:360px;
	background:#ffffff;
	margin-left:4%;
	margin-right:40px;
	padding-right:10px;
    	overflow-y: auto;
	font-size:0.85em;
}

div.contenttop {
	position:absolute;
	top:0;
	width:700px;
	height:200px;
	background:#ffffff;
	margin-left:4%;
	margin-right:4%;
    	overflow-y: auto;
	font-size:0.85em;

}

div.contentleft {
	position:absolute;
	top:90px;
	width:400px;
	height:300px;
	background:#ffffff;
	margin-left:4%;
	margin-right:4%;
    	overflow-y: auto;
	font-size:0.85em;
}

div.contentcenter {
	position:absolute;
	top:90px;
	left:450px;
	width:400px;
	height:300px;
	background:#ffffff;
	margin-left:4%;
	margin-right:4%;
    	overflow-y: auto;
	font-size:0.85em;
}  

div.contentall {
	position:relative;
	top:90px;
	width:700px;
	height:auto;
	background:#ffffff;
	margin-left:40px;
	margin-right:40px;
	padding-bottom:50px;
	font-size:0.85em;
} 

div.contentall ol {
	font-size:0.85em;
} 

div.contentwide ul {
	font-size:0.90em;
}

div.contentpage {
	position:relative;
	top:60px;
	width:100%;
	height:auto;
	margin-bottom:-40px;
	background:#ffffff;

}

div.container {
	padding-bottom:20px;
}

input.hide {
	visibility:hidden;
}

div.hidden {
	visibility:hidden;
}

.tnr {
	font-family:Times New Roman, serif; 
}


.red {
    color:red;
}

#show {
	visibility:hidden;
}

#show1 {
	visibility:hidden;
}

#show2 {
	visibility:hidden;
}

#show3 {
	visibility:hidden;
}

#show4 {
	visibility:hidden;
}

#show5 {
	visibility:hidden;
}

#show6 {
	visibility:hidden;
}

td.mobl {
	display:none;
}

th.mobl {
	display:none;
}

ul li p {
	font-size:0.85em;
}

ol li p {
	font-size:0.85em;
}

#pageA {
	font-size:0.85em;
}

#pageA ul li  {
	font-size:0.85em;
}

/*////\\//not in outer*/
#pageC {
	position:relative;
	top:60px;
	height:270px;
}

#pageC p {
	font-size: 0.80em;
}

#regis {
	position:relative;
	top:-30px;
	float:right;
	margin-right:40px;
}

.btn {		
	font-family: Arial, Helvetica, sans-serif;
	font-size:0.80em;
}

.ninetytop {
	position:relative;
	/*top:90px;*/
	min-height:300px;
}

.threads {
	height:160px;
	overflow-y:auto;
}

.threads a {	
	font-family: Arial, Helvetica, sans-serif;
	font-size:0.80em !important;
}

.ask {
	font-family: Arial, Helvetica, sans-serif;
	font-size:0.80em;
	color: #770000;
}

div.entries {
	height:270px;
	overflow-y:auto;	
	font-family: Arial, Helvetica, sans-serif;
	font-size:0.80em;
}

#contentta {	
	font-family: Arial, Helvetica, sans-serif;
	font-size:0.80em;
}

#addthread {
    display:none;
    position:relative;
    top:-70px;
    z-index: 3;
}

#chatcntr {
	min-height:350px;
}

#chatadd {
	padding:20px;
	background-color:#e0e0e0;
	position:absolute;
	top:300px;
	left:100px;	
	border: solid #000 1px;
	display:none;
	z-index:9;
}

/*///\\*/

p.redp {
	color:red;
}

div.footer {
	position:relative;
	background:#8e0e0e;
	color:#ffffff;
	height:40px;  
	padding:0 0 0 20px;  
	font-size:0.80em;
	line-height:1.40em;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

a.footer {
	text-decoration:none;
	color:#ffffff;
	margin-right:2px;
}

a.footerplus {
	text-decoration:none;
	color:#ffffff;
	margin-left:2px;
	margin-right:2px;
}

span.bolded
{
	font-weight: bold;
}

#desktop {
	position:absolute;
	top: -10px;
	left:755px;
	width:210px;
	height:320px;
	font-size:0.90em;
	padding:10px 10px 10px 10px;
	border:solid 1px #000000;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

img.icon {
	vertical-align:middle;
}

#headtext {
	position:relative;
	top:1.80em;  
	float:right;
	color:#707070;
}

#headtext h4 {
	position:relative;
	margin:0 0 0 0;
	float:right;
}

#headtext h2 {
	position:relative;
	margin:0 0 0 0;
	float:right;
}

#navbar {
	position:relative;
	width:75%;
	top:20px;
	left:0;	
}

#navbar ul{
	list-style-type: none;
	margin-left:-2%;
}

#navbar ul li {
	display:inline;
	white-space: nowrap;
}






#menu ul li.first {
	padding-left: 0;
}


span.maintext {
	margin-left:2%;
	line-height:3.80em;
}

img.icon {
	vertical-align: middle;
}

div.footer ul{
	list-style-type: none;
	padding:0 0 0 0;
	margin:0 0 0 0;
}

div.footer ul li {
	display:inline;
	white-space: nowrap; 
}

div.footer ul li:after {
    content: "|";
}

div.footer ul li:last-child:after {
    content: "";
}

#page-drpro {
	position:relative;
	top:70px;
	margin-bottom:50px;
	height:340px;
}

#dr-side {
	position:relative;
	top:0;
	width:300px;
	margin-left:20px;
	font-size:0.80em;
}

#dr-side input, select {
	font-size:0.90em;
}

#dr-top {
	position:relative;
	top:0;
	height:80px;
	width:1000px;
	font-size:0.90em;
	margin-left:20px;
}

#dr-top h4 {
	margin-bottom:0;
}

#dr-top p {
	margin-top:0;
	margin-bottom:0;
}




#drill table, input {
	font-size:0.85em;
}

#declens {
	font-size:0.90em;	
}



.nountable table, input {
	font-size:0.90em;
}

.nountable input {
	height:25px;
	width:100px;
}


#page-dr {
	position:relative;
	top:50px;
	left:20px;
	font-size:0.90em;
	width:1000px;
	margin-bottom:-40px;
}

#page-dr table, input, p {
	font-size:0.90em;
}

#page-dr h4 {
	margin-bottom:0;
}

#page-dr p {
	margin-top:0;
	margin-bottom:0;
}

#page-drv {
	position:relative;
	top:50px;
	left:20px;
	font-size:0.90em;
	width:1020px;
	height:430px;
	margin-bottom:-40px;
}

#page-drv table, input, p {
	font-size:0.90em;
}

#page-drv h4 {
	margin-bottom:0;
}

#page-drv p {
	margin-top:0;
	margin-bottom:0;
	font-size:0.85em;
}


#chooseverb {
	position:absolute;
	top:60px;
	left:0;
}
#choosetense {
	position:absolute;
	top:60px;
	left:160px;
}

#dataload {
	position:absolute;
	top:90px;
	left:320px;
}


#verbactive {
	position:absolute;
	top:170px;
	left:0;
}

#verbpassive {
	position:absolute;
	top:180px;
	left:500px;
}
*/

.white {
	color:white;
}

div.hide {
	visibility:hidden;
}

td.space {
	width:10px;
}


#clearbutton {
	position:relative;
	top: 10px;
	width:940;
}








#pbuttons {
	position:relative;
	top:20px;
	left:0;
	width:100%;
	max-width:1596px;
}

#lpbutton {
	position:absolute;
	top:0;
	left:0;
	height:25px;
	width:150px;
	background:#8A7B65;
	border-bottom: solid 7px red;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

#lpbutton a {
	text-decoration:none;
	color:#ffffff;
	font-family:arial, verdana;
	font-weight:bold;
}

#lpbutton p {
	margin:5px 7px 0 7px;
}

#gpbutton {
	position:absolute;
	top:0;
	left:160px;
	height:25px;
	width:155px;
	background:#6da3b5;
	border-bottom: solid 7px red;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}



#gpbutton p {
	margin:5px 7px 0 7px;
}

#anbutton {
	position:absolute;
	top:0;
	left:325px;
	height:25px;
	width:235px;
	background:#c64833;
	border-bottom: solid 7px #596987;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

#anbutton a {
	text-decoration:none;
	color:#ffffff;
	font-family:arial, verdana;
	font-weight:bold;
}

#anbutton p {
	margin:5px 7px 0 5px;
}

#contenttext {
	position:relative;
	top:80px;
	left:0;
}

#butdiv {
	width:400px;
	height:20px;
}

#butdiv a {
	text-decoration:none;
}

#butplus {
	position:relative;
	top:-20;
	left:140px;
	width:120px;
}

#hidepers {
	visibility:hidden;
}


table.pronountable td {
	font-size:1.00em;
	padding:0 0 5px 0;
	width:100px;
}

table.pronountable input {
	font-size:0.80em;
	height:22px;
	width:84px;
	vertical-align:top;
	padding:0;
}

.pronhead th {
	height:35px;
}

.fem {
	margin-left:40px;
}


h1 {
    font-family: "Arial";
    font-size: 35px;
    color: white;
	position: relative;
	bottom: -60px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 5%;
  }

.btn {
    font-family: "Arial";
    font-size: 13px;
    color: white;
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
	left: 700px;
    position: relative; 
    top: 10%
  }

img {
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    position: relative;
    left: 20%; 
    top: 100px;
  }

@media only screen and (max-width: 800px) {

	div.wrapper { 
		overflow-y:scroll;
		height:1400px;
	}

	div.aboutwrapper { 
		overflow-y:scroll;
		height:2200px;
	}

	div.pronwrapper { 
		overflow-y:scroll;
		height:2200px;
	}

	div.nounwrapper {
		overflow-y:scroll;
		height:1500px;
	}

	div.verbwrapper {
		overflow-y:scroll;
		height:2400px;
	}

	td.mobl {
		display:inline;
		width:100px;
	}

	th.mobl {
		display:inline;
	}

	.fem {
		margin-left:0;
	}
}



@media only screen and (min-width: 1400px) {
	div.wrapper {
		width:1200px;
	}
	div.aboutwrapper {
		width:1200px;
	}
	div.pronwrapper {
		width:1200px;
	}
	div.nounwrapper {
		width:1200px;
	}
	div.verbwrapper {
		width:1200px;
	}
}


